My Hypothesis is that the winning team prediction depends on the players batting & bowling profile.

In this notebook, I create player profile using 2 tables 1) Matches table 2) Deliveries table

Matches table has match information from season 2008 upto season 2019 Deliveries table has ball to ball delivery information from season 2008 to season 2017

So, I created player profile using deliveries information of season 2008 upto season 2016 and tried to validate my hypothesis on season 2017 matches.

End Result : My hypothesis doesnt hold true when looked for 5 matches. So our hypothesis that the winning team prediction depends on player profile cannot be used to predict 2020 winners.

How I created batting profile

1)Batsman name

2)Batting_played - No of matches where a batsman played

3)Player_dismissed(outs) - No. of matches where a batsman was out

4)Total_runs(TR) - Total runs scored by a batsman in all the matches

5)HS(Highest score) - Highest runs in a match by a batsman

6)Ballsfaced(BF) - No. of balls faced

7)4's - Count of 4's

8)6's - Count of 6's

9)Avg(TR/M):Total runs/matches

10)SR(TR/BF): 100 * Total runs/Balls faced

11)battingAVG(TR/outs):Total runs/Player dismissed

12)runs_by_balls(R/B):Total runs/Balls faced = StrikeRate/100

13)Calc - battingAVG * runs_by_balls


How I created Bowling profile

1)bowler name

2)matches - No of matches bowled by a bowler

3)BallsBowled - Total Balls Bowled by a bowler in all the matches

4)wkts - Total No. of wickets taken by a bowler in all the matches

5)Runs - Total No. of runs given by a bowler in all the matches

6)Avg(TR/Wkts):Total runs/wickets taken

7)bowling_sr(bb/wkts):Balls Bowled/wickets taken

8)economy_rate(runs/bb):Runs given by bowler/Balls Bowled

13)CombinedBowlingRate - 3/(1/Avg+1/bowling_sr+1/economy_rate)

 Match Id=1
 
 Summary of SRH vs RCB
   
    
                      SRH     RCB
               
      Batting AVG     40.10   40.80

      Bowling AVG     3.38    3.38

lesser bowling avg means a better bowling team
means 10-3.38=6.62

Overall batting and bowling avg = 0.6 * batting avg  + 0.40 * bowling avg 


SRH=0.6*40.1+0.4*6.62=26.70

RCB=0.6*40.8+0.4*6.62=27.12

Acc to our hypothesis, RCB has more overall_winning_power 
but the actual winner is SRH, hence our hypothesis didnot hold true here

Match Id=2

Summary of MI vs RPS
   
    
                   MI      RPS
               
    Batting AVG    40.9   42.2

    Bowling AVG    3.75    3.40

lesser bowling avg means a better bowling team

means MI:10-3.75=6.25    RPS:10-3.40=6.60

Overall batting and bowling avg = 0.6 * batting avg  + 0.40 * bowling avg 


MI=0.6*40.9+0.4*6.25=27.04

RPs=0.6*42.2+0.4*6.60=27.96

Acc to our hypothesis, RPS has more overall_winning_power 
and the actual winner is RPS, hence our hypothesis hold true here

Match Id=3

Summary of GL vs KKR

                   GL      KKR

    Batting AVG    39.47   33.98

    Bowling AVG    3.63    3.30

lesser bowling avg means a better bowling team

means GL:10-3.63=6.37 KKR:10-3.30=6.70

Overall batting and bowling avg = 0.6 * batting avg + 0.40 * bowling avg

GL=0.6*39.47+0.4*6.37=26.236

KKR=0.6*33.98+0.4*3.6.70=21.856

Acc to our hypothesis, GL has more overall_winning_power but the actual winner is KKR, hence our hypothesis didnot hold true here

Match Id=4

Summary of RPS vs KXIP

                    RPS      KXIP

    Batting AVG    37.77   37.28

    Bowling AVG    3.51    3.73

lesser bowling avg means a better bowling team

means RPS:10-3.51=6.49 KKR:10-3.73=6.27

Overall batting and bowling avg = 0.6 * batting avg + 0.40 * bowling avg

RPS=0.6*37.77+0.4*6.49=25.258

KXIP=0.6*37.28+0.4*6.27=24.876

Acc to our hypothesis, RPS has more overall_winning_power but the actual winner is KXIP, hence our hypothesis didnot hold true here

Match Id=5

Summary of RCB vs DD

                    RCB      DD

    Batting AVG    49.26   25.42

    Bowling AVG    3.44    3.46

lesser bowling avg means a better bowling team

means RCB:10-3.44=6.56 DD:10-3.46=6.54

Overall batting and bowling avg = 0.6 * batting avg + 0.40 * bowling avg

RCB=0.6*49.26+0.4*6.56=32.18

DD=0.6*25.42+0.4*6.54=16.636

Acc to our hypothesis, RCB has more overall_winning_power and the actual winner is RCB, hence our hypothesis  hold true here

Key Points from the analysis

1) New players - there wont be a profile of a player if he didnot play in any season 

2) Players whose dismissal is equal to 0 i.e who where not out in the game will have infinite in 'Calc' column.When further looked into such players profile they turn out to be bowlers or batsman whose batting order is 10th or 11th position.So we excluded such players while calculating the batting order of a team

Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

load the datasets

In [2]:
matches= pd.read_csv('matches.csv')
deliveries=pd.read_csv('deliveries.csv')

deleting SEASON_2017,SEASON_2018,SEASON_2019 deliveries information in deliveries table.

In [3]:
matches[matches['season'].isin([2017,2018,2019])]['id'].unique()

array([    1,     2,     3,     4,     5,     6,     7,     8,     9,
          10,    11,    12,    13,    14,    15,    16,    17,    18,
          19,    20,    21,    22,    23,    24,    25,    26,    27,
          28,    29,    30,    31,    32,    33,    34,    35,    36,
          37,    38,    39,    40,    41,    42,    43,    44,    45,
          46,    47,    48,    49,    50,    51,    52,    53,    54,
          55,    56,    57,    58,    59,  7894,  7895,  7896,  7897,
        7898,  7899,  7900,  7901,  7902,  7903,  7904,  7905,  7906,
        7907,  7908,  7909,  7910,  7911,  7912,  7913,  7914,  7915,
        7916,  7917,  7918,  7919,  7920,  7921,  7922,  7923,  7924,
        7925,  7926,  7927,  7928,  7929,  7930,  7931,  7932,  7933,
        7934,  7935,  7936,  7937,  7938,  7939,  7940,  7941,  7942,
        7943,  7944,  7945,  7946,  7947,  7948,  7949,  7950,  7951,
        7952,  7953, 11137, 11138, 11139, 11140, 11141, 11142, 11143,
       11144, 11145, 11146, 11147, 11148, 11149, 11150, 11151, 11152,
       11153, 11309, 11310, 11311, 11312, 11313, 11314, 11315, 11316,
       11317, 11318, 11319, 11320, 11321, 11322, 11323, 11324, 11325,
       11326, 11327, 11328, 11329, 11330, 11331, 11332, 11333, 11334,
       11335, 11336, 11337, 11338, 11339, 11340, 11341, 11342, 11343,
       11344, 11345, 11346, 11347, 11412, 11413, 11414, 11415])

In [4]:
deliveries.shape

(179078, 21)

In [5]:
a_2017_2018_2019=deliveries[deliveries['match_id'].isin([ 1,     2,     3,     4,     5,     6,     7,     8,     9,
          10,    11,    12,    13,    14,    15,    16,    17,    18,
          19,    20,    21,    22,    23,    24,    25,    26,    27,
          28,    29,    30,    31,    32,    33,    34,    35,    36,
          37,    38,    39,    40,    41,    42,    43,    44,    45,
          46,    47,    48,    49,    50,    51,    52,    53,    54,
          55,    56,    57,    58,    59,  7894,  7895,  7896,  7897,
        7898,  7899,  7900,  7901,  7902,  7903,  7904,  7905,  7906,
        7907,  7908,  7909,  7910,  7911,  7912,  7913,  7914,  7915,
        7916,  7917,  7918,  7919,  7920,  7921,  7922,  7923,  7924,
        7925,  7926,  7927,  7928,  7929,  7930,  7931,  7932,  7933,
        7934,  7935,  7936,  7937,  7938,  7939,  7940,  7941,  7942,
        7943,  7944,  7945,  7946,  7947,  7948,  7949,  7950,  7951,
        7952,  7953, 11137, 11138, 11139, 11140, 11141, 11142, 11143,
       11144, 11145, 11146, 11147, 11148, 11149, 11150, 11151, 11152,
       11153, 11309, 11310, 11311, 11312, 11313, 11314, 11315, 11316,
       11317, 11318, 11319, 11320, 11321, 11322, 11323, 11324, 11325,
       11326, 11327, 11328, 11329, 11330, 11331, 11332, 11333, 11334,
       11335, 11336, 11337, 11338, 11339, 11340, 11341, 11342, 11343,
       11344, 11345, 11346, 11347, 11412, 11413, 11414, 11415])].index
a_2017_2018_2019

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            179068, 179069, 179070, 179071, 179072, 179073, 179074, 179075,
            179076, 179077],
           dtype='int64', length=42480)

In [6]:
deliveries.drop(a_2017_2018_2019,inplace=True)
deliveries.shape

(136598, 21)

creating the number of matches column

In [7]:
batsman=deliveries[['batsman','match_id']].groupby(['batsman']).agg('nunique')
batsman['id']=batsman.index
batsman.reset_index(drop=True,inplace=True)
batsman=batsman.rename(columns={'match_id':'matches','id':'batsman'})
batsman=batsman[['batsman','matches']]

creating total runs columns scored by the each player

In [9]:
batsman_total_runs=deliveries[['batsman','total_runs']].groupby(['batsman']).agg('sum')
batsman_total_runs['id']=batsman_total_runs.index
batsman_total_runs.reset_index(drop=True,inplace=True)
batsman['total_runs']=batsman_total_runs['total_runs']

creating Highest individual column scored by the each player

In [10]:
batsman_high_score=deliveries[['batsman','match_id','total_runs']].groupby(['batsman','match_id']).agg('sum').groupby(['batsman']).agg('max')
batsman_high_score['id']=batsman_high_score.index
batsman_high_score.reset_index(drop=True,inplace=True)
batsman_high_score=batsman_high_score.rename(columns={'total_runs':'HS','id':'batsman'})
batsman['HS']=batsman_high_score['HS']

creating number of balls column faced by the each player

In [11]:
batsman_balls_faced=deliveries[['batsman','total_runs']].groupby(['batsman']).agg('count')
batsman_balls_faced['id']=batsman_balls_faced.index
batsman_balls_faced.reset_index(drop=True,inplace=True)
batsman_balls_faced=batsman_balls_faced.rename(columns={'total_runs':'ballsfaced','id':'batsman'})
batsman['ballsfaced']=batsman_balls_faced['ballsfaced']

creating number of 4's count column of the each batsman

In [12]:
batsman_4s=deliveries[deliveries['total_runs']==4][['batsman','total_runs']].groupby(['batsman']).agg('count')
batsman_4s['id']=batsman_4s.index
batsman_4s.reset_index(drop=True,inplace=True)
batsman_4s=batsman_4s.rename(columns={'total_runs':"4's",'id':'batsman'})
batsman=pd.merge(batsman,batsman_4s,how='left',on='batsman')

creating number of 6's count column of the each batsman

In [13]:
batsman_6s=deliveries[deliveries['total_runs']==6][['batsman','total_runs']].groupby(['batsman']).agg('count')
batsman_6s['id']=batsman_6s.index
batsman_6s.reset_index(drop=True,inplace=True)
batsman_6s=batsman_6s.rename(columns={'total_runs':"6's",'id':'batsman'})
batsman=pd.merge(batsman,batsman_6s,how='left',on='batsman')

filling the Null values and converting the data type

In [14]:
batsman[["4's","6's"]]=batsman[["4's","6's"]].fillna(0)
batsman["4's"]=batsman["4's"].astype(int)
batsman["6's"]=batsman["6's"].astype(int)

creating the Average and Strike Rate column of the each batsman

In [15]:
batsman['Avg(TR/M)']=batsman['total_runs']/batsman['matches']
batsman['SR(TR/BF)']=(batsman['total_runs']/batsman['ballsfaced'])*100

creating player dismissed count column of each batsman . Then arranging the columns

In [16]:
player_dismissed_entire_record=deliveries[['batsman','player_dismissed']].groupby(['batsman']).count()
player_dismissed_entire_record['batsman']=player_dismissed_entire_record.index
player_dismissed_entire_record.reset_index(drop=True,inplace=True)
batsman1=pd.merge(batsman,player_dismissed_entire_record,how='left',on='batsman')
batsman1=batsman1.rename(columns={'matches':'batting_played'})
batsman1=batsman1[['batsman','batting_played','player_dismissed', 'total_runs', 'HS', 'ballsfaced', "4's",
       "6's", 'Avg(TR/M)','SR(TR/BF)', ]]

creating 'Calc'column where 'calc' is batsman average*batsman Strike rate

In [17]:
batsman1['battingAVG(tr/outs)']=batsman1['total_runs']/batsman1['player_dismissed']
batsman1['runs_by_balls(R/B)']=batsman1['total_runs']/batsman1['ballsfaced']
batsman1['Calc']=batsman1['battingAVG(tr/outs)']*batsman1['runs_by_balls(R/B)']

In [18]:
batsman1

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
0,A Ashish Reddy,23,15,288,36,196,17,15,12.521739,146.938776,19.200000,1.469388,28.212245
1,A Chandila,2,1,4,4,7,0,0,2.000000,57.142857,4.000000,0.571429,2.285714
2,A Chopra,6,5,58,26,75,7,0,9.666667,77.333333,11.600000,0.773333,8.970667
3,A Flintoff,3,2,72,32,57,6,2,24.000000,126.315789,36.000000,1.263158,45.473684
4,A Kumble,15,2,42,8,49,4,0,2.800000,85.714286,21.000000,0.857143,18.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,YV Takawale,10,8,207,47,183,27,3,20.700000,113.114754,25.875000,1.131148,29.268443
431,Yashpal Singh,4,4,49,20,67,5,0,12.250000,73.134328,12.250000,0.731343,8.958955
432,Younis Khan,1,1,3,3,7,0,0,3.000000,42.857143,3.000000,0.428571,1.285714
433,Yuvraj Singh,105,90,2445,89,1862,175,133,23.285714,131.310419,27.166667,1.313104,35.672664
434,Z Khan,24,14,117,23,128,11,2,4.875000,91.406250,8.357143,0.914062,7.638951

creating bowler profile

creating matches column

In [19]:
bowler=deliveries[['bowler','match_id']].groupby(['bowler']).agg('nunique')
bowler['id']=bowler.index
bowler.reset_index(drop=True,inplace=True)
bowler=bowler.rename(columns={'match_id':'matches','id':'bowler'})
bowler=bowler[['bowler','matches']]

creating ballsbowled column for each bowler

In [21]:
bowler_bowled=deliveries[['bowler','over']].groupby(['bowler']).agg('count')
bowler_bowled['id']=bowler_bowled.index
bowler_bowled.reset_index(drop=True,inplace=True)
bowler_bowled=bowler_bowled.rename(columns={'over':'ballsbowled','id':'bowler'})
bowler['ballsbowled']=bowler_bowled['ballsbowled']

creating wickets column for each bowler

In [22]:
bowler_wickets=deliveries[['bowler','player_dismissed']].groupby(['bowler']).count()
bowler_wickets['id']=bowler_wickets.index
bowler_wickets.reset_index(drop=True,inplace=True)
bowler_wickets=bowler_wickets.rename(columns={'player_dismissed':'wickets','id':'bowler'})
bowler['wkts']=bowler_wickets['wickets']

creating number of runs column given by the each bowler

In [23]:
bowler_givenruns=deliveries[['bowler','total_runs']].groupby(['bowler']).agg('sum')
bowler_givenruns['id']=bowler_givenruns.index
bowler_givenruns.reset_index(drop=True,inplace=True)
bowler_givenruns=bowler_givenruns.rename(columns={'total_runs':'runs','id':'bowler'})
bowler['runs']=bowler_givenruns['runs']

creating bowler Average,Strike rate,Economy rate

In [24]:
bowler['Avg(TR/Wkts)']=bowler['runs']/bowler['wkts']
bowler['bowling_sr(bb/wkts)']=bowler['ballsbowled']/bowler['wkts']
bowler['economy_rate(runs/bb)']=bowler['runs']/bowler['ballsbowled']

Doing inverse of Average,Strike rate,Economy rate

In [25]:
bowler['(1/bowling_avg)']=1/bowler['Avg(TR/Wkts)']
bowler['(1/bowling_sr)']=1/bowler['bowling_sr(bb/wkts)']
bowler['(1/bowling_er)']=1/bowler['economy_rate(runs/bb)']

In [26]:
bowler['bowling_sum']=bowler['(1/bowling_avg)']+bowler['(1/bowling_sr)']+bowler['(1/bowling_er)']
bowler.columns

Index(['bowler', 'matches', 'ballsbowled', 'wkts', 'runs', 'Avg(TR/Wkts)',
       'bowling_sr(bb/wkts)', 'economy_rate(runs/bb)', '(1/bowling_avg)',
       '(1/bowling_sr)', '(1/bowling_er)', 'bowling_sum'],
      dtype='object')

creating 'CombinedBowlingRate' column .Where A single measure that can be used to assess the performance of bowlers. The combined bowling rate CBR = 3/[1/A + 1/E + 1/S] is defined for this purpose and is used to rate bowlers. To find the rankings of the bowlers.

In [27]:
bowler['CombinedBowlingRate']=3/bowler['bowling_sum']
bowler.columns

Index(['bowler', 'matches', 'ballsbowled', 'wkts', 'runs', 'Avg(TR/Wkts)',
       'bowling_sr(bb/wkts)', 'economy_rate(runs/bb)', '(1/bowling_avg)',
       '(1/bowling_sr)', '(1/bowling_er)', 'bowling_sum',
       'CombinedBowlingRate'],
      dtype='object')

In [28]:
bowler

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
0,A Ashish Reddy,20,270,19,400,21.052632,14.210526,1.481481,0.047500,0.070370,0.675000,0.792870,3.783721
1,A Chandila,12,234,11,245,22.272727,21.272727,1.047009,0.044898,0.047009,0.955102,1.047009,2.865306
2,A Flintoff,3,66,2,106,53.000000,33.000000,1.606061,0.018868,0.030303,0.622642,0.671812,4.465532
3,A Kumble,42,983,49,1089,22.224490,20.061224,1.107833,0.044995,0.049847,0.902663,0.997506,3.007501
4,A Mishra,112,2466,132,2960,22.424242,18.681818,1.200324,0.044595,0.053528,0.833108,0.931231,3.221543
...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,YA Abdulla,11,222,15,311,20.733333,14.800000,1.400901,0.048232,0.067568,0.713826,0.829625,3.616090
328,YK Pathan,76,1142,44,1380,31.363636,25.954545,1.208406,0.031884,0.038529,0.827536,0.897949,3.340946
329,YS Chahal,42,948,58,1249,21.534483,16.344828,1.317511,0.046437,0.061181,0.759007,0.866626,3.461702
330,Yuvraj Singh,69,857,37,1045,28.243243,23.162162,1.219370,0.035407,0.043174,0.820096,0.898676,3.338243
331,Z Khan,88,2030,107,2537,23.710280,18.971963,1.249754,0.042176,0.052709,0.800158,0.895043,3.351795

# Now using player profile, trying to predict the winner¶

so we need to create a table of matches played in 2017

In [30]:
matches_season_2017=matches[matches['season']==2017]

In [31]:
matches_season_2017['id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59])

create a table of deliveries information in 2017

In [32]:
deliveries_complete_data=pd.read_csv('../input/ipldata/deliveries.csv')
deliveries_season_2017=deliveries_complete_data[deliveries_complete_data['match_id'].isin([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59])]
deliveries_season_2017.shape

(13862, 21)

My Hypothesis is that the winning team prediction depends on the players batting & bowling profile.

That is the batting average of winning team should be more compared to the other team And bowling average of winning team should be less when compared to the other team

We consider batting avg to be more important than bowling weight so we consider overall_winning_power = (0.60batting_avg) + (0.40 1/bowling_avg)

# SRH Vs RCB

# Comparing player profiles of both the teams

checking match details

In [33]:
matches[matches['id']==1]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

checking batsman names in SRH team

In [34]:
deliveries_complete_data[(deliveries_complete_data['match_id']==1)&(deliveries_complete_data['batting_team']=='Sunrisers Hyderabad')]['batsman'].unique()

array(['DA Warner', 'S Dhawan', 'MC Henriques', 'Yuvraj Singh',
       'DJ Hooda', 'BCJ Cutting'], dtype=object)

verifying if all batsman names are present in batsman profile table

In [35]:
batsman1[batsman1['batsman'].isin(['MC Henriques','S Dhawan','Yuvraj Singh','DA Warner', 'DJ Hooda', 'BCJ Cutting'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
63,BCJ Cutting,5,3,83,47,43,4,7,16.600000,193.023256,27.666667,1.930233,53.403101
94,DA Warner,100,91,3543,119,2440,341,132,35.430000,145.204918,38.934066,1.452049,56.534179
102,DJ Hooda,24,20,307,57,224,14,16,12.791667,137.053571,15.350000,1.370536,21.037723
223,MC Henriques,39,29,716,76,564,58,23,18.358974,126.950355,24.689655,1.269504,31.343605
327,S Dhawan,112,95,3259,108,2622,351,61,29.098214,124.294432,34.305263,1.242944,42.639532
433,Yuvraj Singh,105,90,2445,89,1862,175,133,23.285714,131.310419,27.166667,1.313104,35.672664

So we see that all players in SRH team have a batting profile. Meaning there is no new player here

Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [36]:
batsman1[batsman1['batsman'].isin(['MC Henriques','S Dhawan','Yuvraj Singh','DA Warner', 'DJ Hooda', 'BCJ Cutting'])]['Calc'].agg('mean')

40.105133834614

checking bowler names in SRH team

In [37]:
deliveries_complete_data[(deliveries_complete_data['match_id']==1)&(deliveries_complete_data['bowling_team']=='Sunrisers Hyderabad')]['bowler'].unique()

array(['A Nehra', 'B Kumar', 'BCJ Cutting', 'Rashid Khan', 'DJ Hooda',
       'MC Henriques', 'Bipul Sharma'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [38]:
bowler[bowler['bowler'].isin(['A Nehra', 'B Kumar', 'BCJ Cutting', 'Rashid Khan', 'DJ Hooda',
       'MC Henriques', 'Bipul Sharma'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
6,A Nehra,82,1842,111,2339,21.072072,16.594595,1.269815,0.047456,0.060261,0.787516,0.895233,3.351084
46,B Kumar,76,1730,89,2026,22.764045,19.438202,1.171098,0.043929,0.051445,0.853899,0.949273,3.160312
52,BCJ Cutting,5,92,7,111,15.857143,13.142857,1.206522,0.063063,0.076087,0.828829,0.967979,3.099241
58,Bipul Sharma,21,336,19,450,23.684211,17.684211,1.339286,0.042222,0.056548,0.746667,0.845437,3.548463
81,DJ Hooda,13,177,4,228,57.000000,44.250000,1.288136,0.017544,0.022599,0.776316,0.816459,3.674406
177,MC Henriques,43,770,40,1007,25.175000,19.250000,1.307792,0.039722,0.051948,0.764647,0.856317,3.503374

So we see that all players in SRH team have a bowling profile. Except one player is missing in that Bowler Name:'Rashid Khan'

Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [39]:
bowler[bowler['bowler'].isin(['A Nehra', 'B Kumar', 'BCJ Cutting', 'Rashid Khan', 'DJ Hooda',
       'MC Henriques', 'Bipul Sharma'])]['CombinedBowlingRate'].agg('mean')

3.3894798966417556

checking batsman names in RCB team

In [40]:
deliveries_complete_data[(deliveries_complete_data['match_id']==1)&(deliveries_complete_data['batting_team']=='Royal Challengers Bangalore')]['batsman'].unique()

array(['CH Gayle', 'Mandeep Singh', 'TM Head', 'KM Jadhav', 'SR Watson',
       'Sachin Baby', 'STR Binny', 'S Aravind', 'YS Chahal', 'TS Mills',
       'A Choudhary'], dtype=object)

verifying if all batsman names are present in batsman profile table

In [41]:
batsman1[batsman1['batsman'].isin(['CH Gayle', 'Mandeep Singh', 'TM Head', 'KM Jadhav', 'SR Watson',
       'Sachin Baby', 'STR Binny', 'S Aravind', 'YS Chahal', 'TS Mills',
       'A Choudhary'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
77,CH Gayle,91,81,3697,181,2360,291,247,40.626374,156.652542,45.641975,1.566525,71.499315
188,KM Jadhav,44,26,655,63,490,46,23,14.886364,133.673469,25.192308,1.336735,33.675432
248,Mandeep Singh,48,46,967,78,760,113,14,20.145833,127.236842,21.021739,1.272368,26.747397
324,S Aravind,4,0,29,14,19,5,0,7.250000,152.631579,inf,1.526316,inf
369,SR Watson,91,79,2669,109,1869,253,121,29.329670,142.803638,33.784810,1.428036,48.245938
374,STR Binny,49,32,727,49,542,53,26,14.836735,134.132841,22.718750,1.341328,30.473305
378,Sachin Baby,7,6,128,35,89,9,5,18.285714,143.820225,21.333333,1.438202,30.681648
399,TM Head,3,2,61,42,42,3,2,20.333333,145.238095,30.500000,1.452381,44.297619
429,YS Chahal,2,0,3,2,3,0,0,1.500000,100.000000,inf,1.000000,inf

So we see that some players in RCB team have a batting profile. Missing players are 'TS Mills','A Choudhary'

'S Aravind','YS Chachal' have infinite in 'Calc' column when looked at their player profile they turn out to be bowlers. So we are excluding them in the batting average

Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [42]:
batsman1[batsman1['batsman'].isin(['CH Gayle', 'Mandeep Singh', 'TM Head', 'KM Jadhav', 'SR Watson',
       'Sachin Baby', 'STR Binny'])]['Calc'].agg('mean')

40.80295048287634

checking bowler names in RCB team

In [44]:
deliveries_complete_data[(deliveries_complete_data['match_id']==1)&(deliveries_complete_data['bowling_team']=='Royal Challengers Bangalore')]['bowler'].unique()

array(['TS Mills', 'A Choudhary', 'YS Chahal', 'S Aravind', 'SR Watson',
       'TM Head', 'STR Binny'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [45]:
bowler[bowler['bowler'].isin(['TS Mills', 'A Choudhary', 'YS Chahal', 'S Aravind', 'SR Watson',
       'TM Head', 'STR Binny'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
247,S Aravind,28,598,43,779,18.116279,13.906977,1.302676,0.055199,0.071906,0.767651,0.894756,3.352869
285,SR Watson,86,1796,95,2244,23.621053,18.905263,1.249443,0.042335,0.052895,0.800357,0.895587,3.349759
289,STR Binny,53,517,23,636,27.652174,22.478261,1.230174,0.036164,0.044487,0.812893,0.893544,3.357417
329,YS Chahal,42,948,58,1249,21.534483,16.344828,1.317511,0.046437,0.061181,0.759007,0.866626,3.461702

So we see that some players in RCB team have a bowling profile. Missing players are 'TS Mills','A Choudhary','TM Head'

Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [46]:
bowler[bowler['bowler'].isin(['TS Mills', 'A Choudhary', 'YS Chahal', 'S Aravind', 'SR Watson',
       'TM Head', 'STR Binny'])]['CombinedBowlingRate'].agg('mean')

3.3804365304040473

 # MI VS RPS

checking match details

In [47]:
matches[matches['id']==2]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

checking batsman names in RPS team

In [48]:
deliveries_complete_data[(deliveries_complete_data['match_id']==2)&(deliveries_complete_data['batting_team']=='Rising Pune Supergiant')]['batsman'].unique()

array(['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA Stokes', 'MS Dhoni'],
      dtype=object)

verifying if all batsman names are present in batsman profile table

In [49]:
batsman1[batsman1['batsman'].isin(['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA Stokes', 'MS Dhoni'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
35,AM Rahane,89,76,2803,113,2274,290,51,31.494382,123.262973,36.881579,1.232630,45.461331
220,MA Agarwal,45,44,835,71,663,80,33,18.555556,125.942685,18.977273,1.259427,23.900487
244,MS Dhoni,128,92,3421,70,2419,240,140,26.726562,141.422075,37.184783,1.414221,52.587491
367,SPD Smith,47,38,1292,102,933,112,31,27.489362,138.478028,34.000000,1.384780,47.082529

So we see that all players in RPS team have a batting profile. Except one player is missing 'BA Stokes'


Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [50]:
batsman1[batsman1['batsman'].isin(['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA Stokes', 'MS Dhoni'])]['Calc'].agg('mean')

42.25795952075569

checking batsman names in MI team

In [51]:
deliveries_complete_data[(deliveries_complete_data['match_id']==2)&(deliveries_complete_data['batting_team']=='Mumbai Indians')]['batsman'].unique()

array(['PA Patel', 'JC Buttler', 'RG Sharma', 'N Rana', 'AT Rayudu',
       'KH Pandya', 'KA Pollard', 'HH Pandya', 'TG Southee'], dtype=object)

verifying if all batsman names are present in batsman profile table

In [52]:
batsman1[batsman1['batsman'].isin(['PA Patel', 'JC Buttler', 'RG Sharma', 'N Rana', 'AT Rayudu',
       'KH Pandya', 'KA Pollard', 'HH Pandya', 'TG Southee'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
45,AT Rayudu,100,82,2424,86,1884,199,76,24.240000,128.662420,29.560976,1.286624,38.033867
137,HH Pandya,17,12,177,67,134,13,8,10.411765,132.089552,14.750000,1.320896,19.483209
158,JC Buttler,14,11,264,41,189,23,11,18.857143,139.682540,24.000000,1.396825,33.523810
177,KA Pollard,96,71,2073,80,1380,132,124,21.593750,150.217391,29.197183,1.502174,43.859247
183,KH Pandya,8,5,241,87,127,22,13,30.125000,189.763780,48.200000,1.897638,91.466142
255,N Rana,3,3,110,73,78,6,8,36.666667,141.025641,36.666667,1.410256,51.709402
273,PA Patel,100,89,2063,85,1752,250,27,20.630000,117.751142,23.179775,1.177511,27.294450
305,RG Sharma,137,121,3985,113,2996,321,163,29.087591,133.010681,32.933884,1.330107,43.805584
396,TG Southee,7,4,50,28,33,3,2,7.142857,151.515152,12.500000,1.515152,18.939394

So we see that all players in MI team have a batting profile. Meaning there is no new player is missing here

Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [53]:
batsman1[batsman1['batsman'].isin(['PA Patel', 'JC Buttler', 'RG Sharma', 'N Rana', 'AT Rayudu',
       'KH Pandya', 'KA Pollard', 'HH Pandya', 'TG Southee'])]['Calc'].agg('mean')

40.901678123263835

checking bowler names in RPS team

In [54]:
deliveries_complete_data[(deliveries_complete_data['match_id']==2)&(deliveries_complete_data['bowling_team']=='Rising Pune Supergiant')]['bowler'].unique()

array(['AB Dinda', 'DL Chahar', 'BA Stokes', 'Imran Tahir', 'A Zampa',
       'R Bhatia'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [55]:
bowler[bowler['bowler'].isin(['AB Dinda', 'DL Chahar', 'BA Stokes', 'Imran Tahir', 'A Zampa',
       'R Bhatia'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
11,A Zampa,5,103,12,117,9.750000,8.583333,1.135922,0.102564,0.116505,0.880342,1.099411,2.728734
17,AB Dinda,72,1524,80,1982,24.775000,19.050000,1.300525,0.040363,0.052493,0.768920,0.861777,3.481179
86,DL Chahar,2,33,0,42,inf,inf,1.272727,0.000000,0.000000,0.785714,0.785714,3.818182
115,Imran Tahir,20,448,31,632,20.387097,14.451613,1.410714,0.049051,0.069196,0.708861,0.827108,3.627097
220,R Bhatia,88,1618,80,2004,25.050000,20.225000,1.238566,0.039920,0.049444,0.807385,0.896749,3.345417

So we see that all players in RPS team have a bowling profile. Except one player is missing 'BA Stokes'

Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [56]:
bowler[bowler['bowler'].isin(['AB Dinda', 'DL Chahar', 'BA Stokes', 'Imran Tahir', 'A Zampa',
       'R Bhatia'])]['CombinedBowlingRate'].agg('mean')

3.400121785310565

checking bowler names in MI team

In [57]:
deliveries_complete_data[(deliveries_complete_data['match_id']==2)&(deliveries_complete_data['bowling_team']=='Mumbai Indians')]['bowler'].unique()

array(['TG Southee', 'HH Pandya', 'MJ McClenaghan', 'JJ Bumrah',
       'KH Pandya', 'KA Pollard'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [58]:
bowler[bowler['bowler'].isin(['TG Southee', 'HH Pandya', 'MJ McClenaghan', 'JJ Bumrah',
       'KH Pandya', 'KA Pollard'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
106,HH Pandya,18,213,4,333,83.250000,53.250000,1.563380,0.012012,0.018779,0.639640,0.670431,4.474733
130,JJ Bumrah,31,711,30,978,32.600000,23.700000,1.375527,0.030675,0.042194,0.726994,0.799863,3.750643
143,KA Pollard,80,1264,67,1755,26.194030,18.865672,1.388449,0.038177,0.053006,0.720228,0.811411,3.697264
146,KH Pandya,11,194,7,238,34.000000,27.714286,1.226804,0.029412,0.036082,0.815126,0.880620,3.406690
182,MJ McClenaghan,26,637,36,844,23.444444,17.694444,1.324961,0.042654,0.056515,0.754739,0.853908,3.513258
306,TG Southee,26,625,22,833,37.863636,28.409091,1.332800,0.026411,0.035200,0.750300,0.811911,3.694988

So we see that all players in MI team have a bowling profile. Meaning there is no player is missing here

Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [59]:
bowler[bowler['bowler'].isin(['TG Southee', 'HH Pandya', 'MJ McClenaghan', 'JJ Bumrah',
       'KH Pandya', 'KA Pollard'])]['CombinedBowlingRate'].agg('mean')

3.7562625948912167

# GL VS KKR

checking match details

In [60]:
matches[matches['id']==3]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

checking batsman names in GL team

In [61]:
deliveries_complete_data[(deliveries_complete_data['match_id']==3)&(deliveries_complete_data['batting_team']=='Gujarat Lions')]['batsman'].unique()

array(['JJ Roy', 'BB McCullum', 'SK Raina', 'AJ Finch', 'KD Karthik'],
      dtype=object)

verifying if all batsman names are present in batsman profile table

In [62]:
batsman1[batsman1['batsman'].isin(['JJ Roy', 'BB McCullum', 'SK Raina', 'AJ Finch', 'KD Karthik'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
32,AJ Finch,51,46,1386,90,1080,147,40,27.176471,128.333333,30.130435,1.283333,38.667391
60,BB McCullum,92,89,2631,169,1954,249,105,28.597826,134.646878,29.561798,1.346469,39.804038
182,KD Karthik,121,112,2656,91,2092,257,60,21.950413,126.959847,23.714286,1.269598,30.107621
354,SK Raina,143,122,4291,105,3059,360,160,30.006993,140.274600,35.172131,1.402746,49.337566

So we see that all players in GL team have a batting profile. Except one player is missing 'JJ Roy'

Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [63]:
batsman1[batsman1['batsman'].isin(['JJ Roy', 'BB McCullum', 'SK Raina', 'AJ Finch', 'KD Karthik'])]['Calc'].agg('mean')

39.479154026053024

checking bowler names in GL team

In [64]:
deliveries_complete_data[(deliveries_complete_data['match_id']==3)&(deliveries_complete_data['bowling_team']=='Gujarat Lions')]['bowler'].unique()

array(['P Kumar', 'DS Kulkarni', 'MS Gony', 'S Kaushik', 'DR Smith',
       'SB Jakati'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [65]:
bowler[bowler['bowler'].isin(['P Kumar', 'DS Kulkarni', 'MS Gony', 'S Kaushik', 'DR Smith',
       'SB Jakati'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
91,DR Smith,37,475,25,674,26.960000,19.000000,1.418947,0.037092,0.052632,0.704748,0.794471,3.776096
92,DS Kulkarni,66,1367,78,1745,22.371795,17.525641,1.276518,0.044699,0.057059,0.783381,0.885139,3.389296
189,MS Gony,43,910,39,1285,32.948718,23.333333,1.412088,0.030350,0.042857,0.708171,0.781379,3.839368
203,P Kumar,113,2529,96,3188,33.208333,26.343750,1.260577,0.030113,0.037960,0.793287,0.861360,3.482865
252,S Kaushik,7,142,6,195,32.500000,23.666667,1.373239,0.030769,0.042254,0.728205,0.801228,3.744253
265,SB Jakati,55,1069,50,1422,28.440000,21.380000,1.330215,0.035162,0.046773,0.751758,0.833693,3.598449

So we see that all players in GL team have a bowling profile. Meaning there is no player is missing here

Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [66]:
bowler[bowler['bowler'].isin(['P Kumar', 'DS Kulkarni', 'MS Gony', 'S Kaushik', 'DR Smith',
       'SB Jakati'])]['CombinedBowlingRate'].agg('mean')

3.638387885572866

checking batsman names in KKR team

In [67]:
deliveries_complete_data[(deliveries_complete_data['match_id']==3)&(deliveries_complete_data['batting_team']=='Kolkata Knight Riders')]['batsman'].unique()

array(['G Gambhir', 'CA Lynn'], dtype=object)

verifying if all batsman names are present in batsman profile table

In [68]:
batsman1[batsman1['batsman'].isin(['G Gambhir', 'CA Lynn'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
75,CA Lynn,5,4,94,46,85,6,4,18.800000,110.588235,23.500000,1.105882,25.988235
126,G Gambhir,130,117,3857,96,3028,427,50,29.669231,127.377807,32.965812,1.273778,41.991128

So we see that all players in KKR team have a batting profile. Meaning no player is missing here

Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [69]:
batsman1[batsman1['batsman'].isin(['G Gambhir', 'CA Lynn'])]['Calc'].agg('mean')

33.989681839947984

checking bowler names in KKR team

In [70]:
deliveries_complete_data[(deliveries_complete_data['match_id']==3)&(deliveries_complete_data['bowling_team']=='Kolkata Knight Riders')]['bowler'].unique()

array(['TA Boult', 'PP Chawla', 'SP Narine', 'CR Woakes', 'Kuldeep Yadav',
       'YK Pathan'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [71]:
bowler[bowler['bowler'].isin(['TA Boult', 'PP Chawla', 'SP Narine', 'CR Woakes', 'Kuldeep Yadav',
       'YK Pathan'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
157,Kuldeep Yadav,3,74,7,102,14.571429,10.571429,1.378378,0.068627,0.094595,0.725490,0.888712,3.375671
214,PP Chawla,122,2472,127,3136,24.692913,19.464567,1.268608,0.040497,0.051375,0.788265,0.880138,3.408556
282,SP Narine,66,1594,97,1673,17.247423,16.432990,1.049561,0.057980,0.060853,0.952779,1.071612,2.799520
305,TA Boult,8,207,11,278,25.272727,18.818182,1.342995,0.039568,0.053140,0.744604,0.837313,3.582891
328,YK Pathan,76,1142,44,1380,31.363636,25.954545,1.208406,0.031884,0.038529,0.827536,0.897949,3.340946

So we see that all players in KKR team have a bowling profile. Except one player is missing 'CR Woakes'

Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [72]:
bowler[bowler['bowler'].isin(['TA Boult', 'PP Chawla', 'SP Narine', 'CR Woakes', 'Kuldeep Yadav',
       'YK Pathan'])]['CombinedBowlingRate'].agg('mean')

3.3015166759830508

# RPS VS KXIP



checking match details

In [73]:
matches[matches['id']==4]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN

checking batsman names in RPS team

In [74]:
deliveries_complete_data[(deliveries_complete_data['match_id']==4)&(deliveries_complete_data['batting_team']=='Rising Pune Supergiant')]['batsman'].unique()

array(['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA Stokes', 'MS Dhoni',
       'MK Tiwary', 'DT Christian'], dtype=object)

verifying if all batsman names are present in batsman profile table

In [75]:
batsman1[batsman1['batsman'].isin(['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA Stokes', 'MS Dhoni',
       'MK Tiwary', 'DT Christian'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
35,AM Rahane,89,76,2803,113,2274,290,51,31.494382,123.262973,36.881579,1.232630,45.461331
117,DT Christian,22,17,355,42,299,17,12,16.136364,118.729097,20.882353,1.187291,24.793429
220,MA Agarwal,45,44,835,71,663,80,33,18.555556,125.942685,18.977273,1.259427,23.900487
235,MK Tiwary,66,49,1390,83,1202,122,28,21.060606,115.640599,28.367347,1.156406,32.804170
244,MS Dhoni,128,92,3421,70,2419,240,140,26.726562,141.422075,37.184783,1.414221,52.587491
367,SPD Smith,47,38,1292,102,933,112,31,27.489362,138.478028,34.000000,1.384780,47.082529

So we see that all players in RPS team have a batting profile. Except one player is missing 'BA Stokes'


Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [76]:
batsman1[batsman1['batsman'].isin(['AM Rahane', 'MA Agarwal', 'SPD Smith', 'BA Stokes', 'MS Dhoni',
       'MK Tiwary', 'DT Christian'])]['Calc'].agg('mean')

37.77157284686991

checking bowler names in RPS team

In [77]:
deliveries_complete_data[(deliveries_complete_data['match_id']==4)&(deliveries_complete_data['bowling_team']=='Rising Pune Supergiant')]['bowler'].unique()

array(['AB Dinda', 'DT Christian', 'BA Stokes', 'Imran Tahir',
       'RD Chahar', 'R Bhatia'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [78]:
bowler[bowler['bowler'].isin(['AB Dinda', 'DT Christian', 'BA Stokes', 'Imran Tahir',
       'RD Chahar', 'R Bhatia'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
17,AB Dinda,72,1524,80,1982,24.775000,19.050000,1.300525,0.040363,0.052493,0.768920,0.861777,3.481179
93,DT Christian,23,498,20,653,32.650000,24.900000,1.311245,0.030628,0.040161,0.762634,0.833423,3.599615
115,Imran Tahir,20,448,31,632,20.387097,14.451613,1.410714,0.049051,0.069196,0.708861,0.827108,3.627097
220,R Bhatia,88,1618,80,2004,25.050000,20.225000,1.238566,0.039920,0.049444,0.807385,0.896749,3.345417

So we see that all players in RPS team have a bowling profile. Missing player are'BA Stokes','DT Christian','RD Chahar'



Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [79]:
bowler[bowler['bowler'].isin(['AB Dinda', 'DT Christian', 'BA Stokes', 'Imran Tahir',
       'RD Chahar', 'R Bhatia'])]['CombinedBowlingRate'].agg('mean')

3.5133269146347192

checking batsman names in KXIP team

In [80]:
deliveries_complete_data[(deliveries_complete_data['match_id']==4)&(deliveries_complete_data['batting_team']=='Kings XI Punjab')]['batsman'].unique()

array(['HM Amla', 'M Vohra', 'WP Saha', 'AR Patel', 'GJ Maxwell',
       'DA Miller'], dtype=object)

verifying if all batsman names are present in batsman profile table

In [81]:
batsman1[batsman1['batsman'].isin(['HM Amla', 'M Vohra', 'WP Saha', 'AR Patel', 'GJ Maxwell',
       'DA Miller'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
41,AR Patel,29,21,397,43,323,23,17,13.689655,122.910217,18.904762,1.229102,23.235884
93,DA Miller,60,42,1558,108,1053,104,74,25.966667,147.958215,37.095238,1.479582,54.885452
132,GJ Maxwell,42,40,971,101,594,77,56,23.119048,163.468013,24.275000,1.634680,39.681860
138,HM Amla,6,6,164,99,122,20,4,27.333333,134.426230,27.333333,1.344262,36.743169
218,M Vohra,32,29,758,69,580,73,26,23.687500,130.689655,26.137931,1.306897,34.159572
421,WP Saha,67,53,1379,120,1025,112,49,20.582090,134.536585,26.018868,1.345366,35.004896

So we see that all players in KXIP team have a batting profile. Means no player is missing


Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [82]:
batsman1[batsman1['batsman'].isin(['HM Amla', 'M Vohra', 'WP Saha', 'AR Patel', 'GJ Maxwell',
       'DA Miller'])]['Calc'].agg('mean')

37.28513898112103

checking bowler names in KXIP team

In [83]:
deliveries_complete_data[(deliveries_complete_data['match_id']==4)&(deliveries_complete_data['bowling_team']=='Kings XI Punjab')]['bowler'].unique()

array(['Sandeep Sharma', 'MM Sharma', 'AR Patel', 'T Natarajan',
       'MP Stoinis', 'Swapnil Singh'], dtype=object)

verifying if all bowler names are present in bowler profile table

In [84]:
bowler[bowler['bowler'].isin(['Sandeep Sharma', 'MM Sharma', 'AR Patel', 'T Natarajan',
       'MP Stoinis', 'Swapnil Singh'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
34,AR Patel,45,986,46,1218,26.478261,21.434783,1.235294,0.037767,0.046653,0.809524,0.893944,3.355916
185,MM Sharma,61,1289,78,1676,21.487179,16.525641,1.300233,0.046539,0.060512,0.769093,0.876144,3.424093
187,MP Stoinis,7,140,9,203,22.555556,15.555556,1.450000,0.044335,0.064286,0.689655,0.798276,3.758099
292,Sandeep Sharma,43,973,59,1221,20.694915,16.491525,1.254882,0.048321,0.060637,0.796888,0.905846,3.311821
301,Swapnil Singh,1,18,0,29,inf,inf,1.611111,0.000000,0.000000,0.620690,0.620690,4.833333

So we see that all players in KXIP team have a bowling profile. Except one player is missing 'T Natarajan'


Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [86]:
bowler[bowler['bowler'].isin(['Sandeep Sharma', 'MM Sharma', 'AR Patel', 'T Natarajan',
       'MP Stoinis', 'Swapnil Singh'])]['CombinedBowlingRate'].agg('mean')

3.736652444189555

# DD vs RCB

checking match details

In [87]:
matches[matches['id']==5]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

checking player names in RCB team

In [88]:
deliveries_complete_data[(deliveries_complete_data['match_id']==5)&(deliveries_complete_data['batting_team']=='Royal Challengers Bangalore')]['batsman'].unique()

array(['CH Gayle', 'SR Watson', 'Mandeep Singh', 'KM Jadhav', 'STR Binny',
       'Vishnu Vinod', 'Iqbal Abdulla', 'P Negi', 'TS Mills'],
      dtype=object)

verifying all the player present in the batting profile table

In [89]:
batsman1[batsman1['batsman'].isin(['CH Gayle', 'SR Watson', 'Mandeep Singh', 'KM Jadhav', 'STR Binny',
       'Vishnu Vinod', 'Iqbal Abdulla', 'P Negi', 'TS Mills'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
77,CH Gayle,91,81,3697,181,2360,291,247,40.626374,156.652542,45.641975,1.566525,71.499315
149,Iqbal Abdulla,12,1,92,35,79,9,1,7.666667,116.455696,92.000000,1.164557,107.139241
188,KM Jadhav,44,26,655,63,490,46,23,14.886364,133.673469,25.192308,1.336735,33.675432
248,Mandeep Singh,48,46,967,78,760,113,14,20.145833,127.236842,21.021739,1.272368,26.747397
270,P Negi,19,11,225,37,170,17,9,11.842105,132.352941,20.454545,1.323529,27.072193
369,SR Watson,91,79,2669,109,1869,253,121,29.329670,142.803638,33.784810,1.428036,48.245938
374,STR Binny,49,32,727,49,542,53,26,14.836735,134.132841,22.718750,1.341328,30.473305

So we see that all players in RCB team have a batting profile.Missing players are 'TS Mills','Vishnu Vinod'

Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [90]:
batsman1[batsman1['batsman'].isin(['CH Gayle', 'SR Watson', 'Mandeep Singh', 'KM Jadhav', 'STR Binny',
       'Vishnu Vinod', 'Iqbal Abdulla', 'P Negi', 'TS Mills'])]['Calc'].agg('mean')

49.264688487448375

checking the player names in RCB team

In [91]:
deliveries_complete_data[(deliveries_complete_data['match_id']==5)&(deliveries_complete_data['bowling_team']=='Royal Challengers Bangalore')]['bowler'].unique()

array(['B Stanlake', 'YS Chahal', 'Iqbal Abdulla', 'TS Mills',
       'SR Watson', 'P Negi'], dtype=object)

verifying all the player present in bowling profile table

In [92]:
bowler[bowler['bowler'].isin(['B Stanlake', 'YS Chahal', 'Iqbal Abdulla', 'TS Mills',
       'SR Watson', 'P Negi'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
116,Iqbal Abdulla,46,909,43,1070,24.883721,21.139535,1.177118,0.040187,0.047305,0.849533,0.937024,3.201624
204,P Negi,24,439,17,600,35.294118,25.823529,1.366743,0.028333,0.038724,0.731667,0.798724,3.755989
285,SR Watson,86,1796,95,2244,23.621053,18.905263,1.249443,0.042335,0.052895,0.800357,0.895587,3.349759
329,YS Chahal,42,948,58,1249,21.534483,16.344828,1.317511,0.046437,0.061181,0.759007,0.866626,3.461702

So we see that all players in RCB team have a bowling profile.Missing players 'B Stanlake','TS Mills'


Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [93]:
bowler[bowler['bowler'].isin(['B Stanlake', 'YS Chahal', 'Iqbal Abdulla', 'TS Mills',
       'SR Watson', 'P Negi'])]['CombinedBowlingRate'].agg('mean')

3.442268414059714

checking player names in DD team

In [94]:
deliveries_complete_data[(deliveries_complete_data['match_id']==5)&(deliveries_complete_data['batting_team']=='Delhi Daredevils')]['batsman'].unique()

array(['AP Tare', 'SW Billings', 'KK Nair', 'SV Samson', 'RR Pant',
       'CH Morris', 'CR Brathwaite', 'PJ Cummins', 'A Mishra', 'S Nadeem',
       'Z Khan'], dtype=object)

verifying the all the player present in batting profile table

In [95]:
batsman1[batsman1['batsman'].isin(['AP Tare', 'SW Billings', 'KK Nair', 'SV Samson', 'RR Pant',
       'CH Morris', 'CR Brathwaite', 'PJ Cummins', 'A Mishra', 'S Nadeem',
       'Z Khan'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
5,A Mishra,43,27,319,32,326,26,3,7.418605,97.852761,11.814815,0.978528,11.561122
40,AP Tare,24,21,344,59,260,38,11,14.333333,132.307692,16.380952,1.323077,21.673260
78,CH Morris,20,8,298,83,178,18,16,14.900000,167.415730,37.250000,1.674157,62.362360
87,CR Brathwaite,6,6,92,35,40,6,8,15.333333,230.000000,15.333333,2.300000,35.266667
186,KK Nair,37,34,908,86,700,95,20,24.540541,129.714286,26.705882,1.297143,34.641345
277,PJ Cummins,1,1,1,1,2,0,0,1.000000,50.000000,1.000000,0.500000,0.500000
312,RR Pant,10,7,202,70,155,19,6,20.200000,130.322581,28.857143,1.303226,37.607373
332,S Nadeem,13,11,30,8,62,1,0,2.307692,48.387097,2.727273,0.483871,1.319648
375,SV Samson,48,41,1071,77,890,80,38,22.312500,120.337079,26.121951,1.203371,31.434393
376,SW Billings,4,4,97,59,66,5,4,24.250000,146.969697,24.250000,1.469697,35.640152
434,Z Khan,24,14,117,23,128,11,2,4.875000,91.406250,8.357143,0.914062,7.638951

So we see that all players in DD team have a batting profile. Means no player is missing


Batsman performance is represented by 'Calc' column .so we calculate batsmans average through 'Calc' column

In [97]:
batsman1[batsman1['batsman'].isin(['AP Tare', 'SW Billings', 'KK Nair', 'SV Samson', 'RR Pant',
       'CH Morris', 'CR Brathwaite', 'PJ Cummins', 'A Mishra', 'S Nadeem',
       'Z Khan'])]['Calc'].agg('mean')

25.422297278053463

checking player names in DD team

In [98]:
deliveries_complete_data[(deliveries_complete_data['match_id']==5)&(deliveries_complete_data['bowling_team']=='Delhi Daredevils')]['bowler'].unique()

array(['Z Khan', 'CH Morris', 'PJ Cummins', 'S Nadeem', 'A Mishra',
       'CR Brathwaite'], dtype=object)

verifying all the players present in bowling profile table

In [99]:
bowler[bowler['bowler'].isin(['Z Khan', 'CH Morris', 'PJ Cummins', 'S Nadeem', 'A Mishra',
       'CR Brathwaite'])]

,bowler,matches,ballsbowled,wkts,runs,Avg(TR/Wkts),bowling_sr(bb/wkts),economy_rate(runs/bb),(1/bowling_avg),(1/bowling_sr),(1/bowling_er),bowling_sum,CombinedBowlingRate
4,A Mishra,112,2466,132,2960,22.424242,18.681818,1.200324,0.044595,0.053528,0.833108,0.931231,3.221543
63,CH Morris,39,853,48,1066,22.208333,17.770833,1.249707,0.045028,0.056272,0.800188,0.901488,3.327832
70,CR Brathwaite,8,143,9,192,21.333333,15.888889,1.342657,0.046875,0.062937,0.744792,0.854604,3.510399
211,PJ Cummins,4,90,3,132,44.000000,30.000000,1.466667,0.022727,0.033333,0.681818,0.737879,4.065708
254,S Nadeem,46,1027,33,1213,36.757576,31.121212,1.181110,0.027205,0.032132,0.846661,0.905999,3.311262
331,Z Khan,88,2030,107,2537,23.710280,18.971963,1.249754,0.042176,0.052709,0.800158,0.895043,3.351795

So we see that all players in DD team have a bowling profile. Means no player is missing here


Bowler performance is represented by 'CombinedBowlingRate' column .so we calculate bowlers average through 'CombinedBowlingRate' column

In [100]:
bowler[bowler['bowler'].isin(['Z Khan', 'CH Morris', 'PJ Cummins', 'S Nadeem', 'A Mishra',
       'CR Brathwaite'])]['CombinedBowlingRate'].agg('mean')

3.46475671146665

# These are the players whose dismissals are 0's

In [101]:
batsman1[batsman1['Calc'].isin(['inf'])]

,batsman,batting_played,player_dismissed,total_runs,HS,ballsfaced,4's,6's,Avg(TR/M),SR(TR/BF),battingAVG(tr/outs),runs_by_balls(R/B),Calc
42,AS Rajpoot,1,0,2,2,6,0,0,2.000000,33.333333,inf,0.333333,inf
58,BA Bhatt,2,0,6,6,7,0,1,3.000000,85.714286,inf,0.857143,inf
62,BB Sran,3,0,5,2,4,0,0,1.666667,125.000000,inf,1.250000,inf
81,CJ Jordan,1,0,4,4,4,0,0,4.000000,100.000000,inf,1.000000,inf
95,DAJ Bracewell,1,0,12,12,9,1,0,12.000000,133.333333,inf,1.333333,inf
111,DP Vijaykumar,1,0,1,1,1,0,0,1.000000,100.000000,inf,1.000000,inf
143,I Malhotra,1,0,7,7,4,1,0,7.000000,175.000000,inf,1.750000,inf
156,J Yadav,2,0,8,5,12,0,0,4.000000,66.666667,inf,0.666667,inf
163,JE Taylor,2,0,4,3,4,0,0,2.000000,100.000000,inf,1.000000,inf
176,K Upadhyay,2,0,12,11,9,0,1,6.000000,133.333333,inf,1.333333,inf
189,KMDN Kulasekara,1,0,6,6,3,1,0,6.000000,200.000000,inf,2.000000,inf
249,Mashrafe Mortaza,1,0,2,2,2,0,0,2.000000,100.000000,inf,1.000000,inf
259,NJ Rimmington,1,0,1,1,1,0,0,1.000000,100.000000,inf,1.000000,inf
271,P Parameswaran,2,0,2,1,3,0,0,1.000000,66.666667,inf,0.666667,inf
272,P Sahu,2,0,19,18,13,1,1,9.500000,146.153846,inf,1.461538,inf
279,PM Sarvesh Kumar,1,0,1,1,2,0,0,1.000000,50.000000,inf,0.500000,inf
304,RG More,1,0,2,2,2,0,0,2.000000,100.000000,inf,1.000000,inf
319,RS Sodhi,1,0,4,4,2,1,0,4.000000,200.000000,inf,2.000000,inf
324,S Aravind,4,0,29,14,19,5,0,7.250000,152.631579,inf,1.526316,inf
329,S Kaul,2,0,9,7,11,0,0,4.500000,81.818182,inf,0.818182,inf
339,S Tyagi,1,0,3,3,4,0,0,3.000000,75.000000,inf,0.750000,inf
358,SM Harwood,2,0,13,8,14,0,0,6.500000,92.857143,inf,0.928571,inf
363,SN Thakur,1,0,7,7,6,1,0,7.000000,116.666667,inf,1.166667,inf
371,SS Shaikh,1,0,6,6,7,1,0,6.000000,85.714286,inf,0.857143,inf
427,YA Abdulla,1,0,1,1,1,0,0,1.000000,100.000000,inf,1.000000,inf
429,YS Chahal,2,0,3,2,3,0,0,1.500000,100.000000,inf,1.000000,inf